@font-face {
    font-family: 'n27';
    src: url('../fonts/n27-regular-webfont.ttf');
}

.violet {
    background-color: #4e00ff;
}

a {
    text-decoration: none;
}

* {
    font-family: 'n27';
}

.fs-100 {
    font-size: 70px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.line {
    height: 1px;
    width: 50px;
    margin: auto;
}


/* bg 2 */
.bg {
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-violet {
    color: #4e00ff;
}

.fs-60 {
    font-size: 60px;
}

.fs-20 {
    font-size: 20px;
}

.bg-violet {
    background-color: #4e00ff;
}

.img-fluid.m {
    position: absolute;
    right: 0;
    bottom: 0;
}

.gallery .card {
    position: relative;
}

.gallery .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.gallery .card:hover .card-body {
    opacity: 1;
}

.gallery {
    position: relative;
    z-index: 10;
}

/* bg-3 */
.btn-violet {
    background-color: #4e00ff !important;
    color: #fff !important;
}

.bg-3 {
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 400px;
    position: relative;
    top: -200px;
    margin-bottom: -200px;
}

/* links */
.fs-30 {
    font-size: 23px;
}

.btn {
    border-radius: 0 !important;
}

.bigline {
    width: 100px;
    height: 2px;
    margin: auto;
}